body {
   color: rgb(14, 67, 114); 
   background-color: aliceblue;
}
main {
    width: 300px;
    margin: auto;
    cursor: pointer;
}

p {
    margin: 0 0 5px;

}

.first {
    max-width: 500px;
    margin: 20px auto;
}

.first-item {
    margin-bottom: 5px;

}

.first-MEM {
    height: 0px;
    font-size: 14px;
    opacity:0; 
    
}

img {
    height: 0px;
}

.first-title {
    display: block;
    color: blue;
    
}

.first-input {
    width: 0;
    height: 0;
    position: absolute;
}

.first-input:hover ~ .first-title,
.first-input:checked ~ .first-title {
    color: black;

}

.first-input:hover ~ .first-MEM,
.first-input:checked ~ .first-MEM {
    display: block;
    height: 200px;
    transition: opacity 1s;
    opacity: 1;
    
}

.first-input:hover ~ .first-MEM img,
.first-input:checked ~ .first-MEM img {
    height: 200px;
}

.test {
    background-color: brown;
    height: 100px;
    width: 100px;
    opacity: 0;
}

.test:hover {
    transition: opacity 0.5s;
    opacity: 1;
}